/* DEFINITIONS */

@font-face {
    font-family: digital;
    src: url(fonts/DS-DIGIT.TTF);
}

:root {
    /* COLORS */
    --bg: #1e2439;
    --black: #2d241d;
    --blue: #5baab2;
    --red: #ff624b;
    --orange: #ffa34e;
    --brown: #41342a;
    --green: #10893a;
    --white: #f9e1b8;

    /* SIZES: 360px - 480px */
    --min-w: 420px;
    --max-w: 420px;
    --h: 64px;
}

/* COMMONS */

body {
    height: 100vh;
    background-color: var(--bg);
    color: var(--white);
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    overflow: hidden;
}

h1 {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--orange);
}

section {
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-w);
    min-width: var(--min-w);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#container {
    width: 100%;
    background: var(--white);
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px -16px 0px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

#display {
    background: var(--blue);
    color: var(--brown);
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    padding: 32px 16px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px -8px 0px 2px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    padding: 0;
}

#lcd {
    background: var(--black);
    color: var(--green);
    font-family: digital, 'VT323', 'Roboto Slab', serif;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 7px;
    box-shadow: inset 0px 4px 0px 2px rgba(0, 0, 0, 0.5);
    height: 70px;
}

#lcd h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: right;
    display: block;
    height: 25px;
    white-space: nowrap;
}

#lcd h3 {
    margin: 0;
    padding: 0;
    font-size: 46px;
    text-align: right;
    white-space: nowrap;
}

#keypad {
    color: var(--brown);
    font-weight: 700;
    font-size: 20px;
    padding: 32px 16px 48px 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        'seven eight nine c ac'
        'four five six minus times'
        'one two three plus slash'
        'sign zero period plus equal';
    gap: 16px;
}

.key {
    height: var(--h);
    background: var(--brown);
    color: var(--white);
    box-shadow: inset 0px -10px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding-top: 6px;
    /* hack to not expand div on padding left */
    width: calc(100% - 10px);
    padding-left: 10px;
}

.pressed {
    margin-top: 6px;
    height: calc(var(--h) - 6px);
    box-shadow: inset 0px -2px 0px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.plus {
    height: calc(var(--h) * 2 + 22px);
    grid-area: plus;
    background: var(--orange);
    color: var(--black);
}

.plus.pressed {
    margin-top: 6px;
    height: calc(var(--h) * 2 + 16px);
    color: var(--black);
}

.nine {
    grid-area: nine;
}

.eight {
    grid-area: eight;
}

.seven {
    grid-area: seven;
}

.six {
    grid-area: six;
}

.five {
    grid-area: five;
}

.four {
    grid-area: four;
}

.three {
    grid-area: three;
}

.two {
    grid-area: two;
}

.one {
    grid-area: one;
}

.zero {
    grid-area: zero;
    /* aspect-ratio: 2 / 1; */
}

.period {
    grid-area: period;
}

.sign {
    grid-area: sign;
}

.c {
    grid-area: c;
    background: var(--red);
}

.ac {
    grid-area: ac;
    background: var(--red);
}

.minus {
    grid-area: minus;
    background: var(--orange);
    color: var(--black);
}

.times {
    grid-area: times;
    background: var(--orange);
    color: var(--black);
}

.slash {
    grid-area: slash;
    background: var(--orange);
    color: var(--black);
}

.equal {
    grid-area: equal;
    background: var(--blue);
    color: var(--black);
}

/* FOOTER */

footer {
    margin: 24px auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: var(--white);
}

footer h4 {
    font-size: 12px;
    font-weight: 300;
}

footer img {
    margin-left: 6px;
    margin-right: 8px;
}
