/* DEFINITIONS */

:root {
    --bg: #1e2439;
    --blue: #5baab2;
    --red: #ff624b;
    --orange: #ffa34e;
    --brown: #41342a;
    --green: #10893a;
    --white: #f9e1b8;
}

/* COMMONS */

body {
    background-color: var(--bg);
    color: var(--white);
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
